.features {
  background-color: $primary-bg;
}

.features__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.features__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 29px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    height: 300px;
    flex-direction: column-reverse;
    row-gap: 0;
    column-gap: 40px;
    position: relative;
  }
}

.features__item {
  color: $base-black;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  width: 290px;
  margin: 0 auto 35px;

  &--parking {
    margin-bottom: 40px;
  }

  &--places {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 15px;
    margin-bottom: 0;
    row-gap: 0;
    align-items: flex-start;
    width: auto;

    &--parking {
      margin: 0;
      grid-template-columns: 71px 238px;
    }

    &--places {
      margin: 0;
      grid-template-columns: 107px 202px;
    }

    &--years {
      grid-template-columns: 69px 240px;
    }

    &--square {
      grid-template-columns: 107px 203px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 110px;
    column-gap: 43px;
    width: 360px;
    grid-template-rows: 30px;

    &--parking {
      order: 2;
      column-gap: 79px;
    }

    &--years {
      column-gap: 81px;
      order: 1;
    }

    &--square {
      order: 1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item span {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  background: $nubmer-grad;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    grid-area: 1 / 1 / 3 / 2;
  }
}

.features__item b {
  font-size: 14px;
  line-height: 143%;
  -webkit-text-fill-color: $color-persian-blue;

  @media (min-width: $tablet-width) {
    line-height: 157%;
    text-align: left;
  }
}

.features__item h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
  }
}

.features__item p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  width: 230px;

  @media (min-width: $tablet-width) {
    line-height: 150%;
    font-size: 16px;
    width: 244px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 226px;
  }
}

.features__inner {
  color: $base-white;
  background-color: $secondary;
  padding: 30px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 35px;
    margin: 0 179px;
    width: 320px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 40px;
    margin: 0 auto;
    order: 1;
    height: 300px;
    width: 360px;

    &::before {
      content: "";
      width: 360px;
      opacity: 20%;
      border-bottom: 2px solid $primaryopacity;
      height: 2px;
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: "";
      width: 360px;
      opacity: 20%;
      border-bottom: 2px solid $primaryopacity;
      height: 2px;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
      font-size: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  h3 {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      margin: 0 0 25px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
      margin: 0 0 30px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    width: 155px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 150%;
      width: 186px;
    }

    @media (min-width: $desktop-width) {
      width: 264px;
    }
  }
}
