.footer {
  background-color: $dark;
  padding: 40px 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 45px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0 44px;
  }
}

.footer__inner {
  display: grid;
  row-gap: 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 168px;
  }
}

.footer__img {
  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    column-gap: 30px;
    row-gap: 0;
    min-width: 391px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
    min-width: 600px;
  }
}

.footer__link {
  color: $base-white;
  line-height: 143%;

  &:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid $base-white;
  }

  &:focus,
  &:focus-visible {
    outline: 0;
    border: 1px solid $base-white;
    padding: 5px 10px;
    margin: -5px -10px;
  }

  &:focus:not(:focus-visible) {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &:active {
    opacity: 0.7;
  }
}

.footer__list-icon {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 15px;
    min-width: 105px;
  }

  @media (min-width: $desktop-width) {
    min-width: 95px;
    gap: 10px;
  }
}

.footer__link-icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  background-color: $base-white;
  border-radius: 20px;
  color: $color-icon;
  position: relative;

  &:hover {
    background-color: $divider;
    color: $base-white;
  }

  &:focus {
    outline: 0;
    background-color: $base-grey;
  }

  &:active {
    background-color: $base-black;
  }
}

.footer__link-social {
  position: absolute;
  top: 6px;
  left: 6px;

  &--ok {
    top: 4px;
    left: 8px;
  }
}
