.games {
  padding: 25px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.games__list {
  display: flex;
  flex-direction: column;
  background: $accent-bg;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.games__item {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    row-gap: 10px;
    justify-content: inherit;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px;
    row-gap: 0;
  }
}

.games__title {
  font-family: $alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
  color: $base-white;
  margin: 0;
  max-width: 100px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 117%;
    max-width: 168px;
    margin-right: 77px;
  }
}

.games__wrapper {
  max-width: 56px;
  margin: 0;

  @media (min-width: $tablet-width) {
    height: 134px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    height: 176px;
  }
}

.games__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  padding-bottom: 3px;
  margin-bottom: 3px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $base-white;
    bottom: 0;
    right: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      right: -44px;
    }

    @media (min-width: $desktop-width) {
      right: -39px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
    padding-bottom: 2px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
    margin-bottom: 5px;
  }
}

.games__number {
  display: flex;
  gap: 4px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 4px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    gap: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-bottom: 21px;
  }
}

.games__strong {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 157%;
  }
}

.games__description {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  max-width: 174px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
    line-height: 40%;
  }
}

.games__button {
  width: 100%;
  height: 60px;
  padding: 22px 50px;
  border: 2px solid $base-white;
  color: $base-white;

  @media (min-width: $tablet-width) {
    height: 66px;
    padding: 25px 55px;
  }

  &:hover {
    background-color: $base-white;
    color: $base-grey;
  }

  &:focus-visible {
    outline: 0;
    background: $bt-abbonement;
    color: $base-grey;
    border: 2px solid $black;
  }

  &:active {
    background-color: $base-white;
    color: $base-black;
    border: 2px solid transparent;
    outline: 0;
  }
}

.games__img {
  display: block;
  height: 100%;
  object-fit: contain;
  background-color: $fon-img;
}
