/* здесь используйте глобальные переменные */
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$max-desktop: 1365px;

// text-color
$base-black-opacity: rgba(16, 38, 84, 0.6);
$base-white-bt: rgba(255, 255, 255, 0.7);
$base-white: #ffffff;
$base-grey: #103aae;
$base-black: #102654;
$base-primary: #0041ca;
$price-shadow: #e8e8e8;
$color-persian-blue: #2e35ac;
$color-icon: #030a1a;
$color-crimson: #b6bdcc;

// button
$primaryopacity: #d10a42;
$secondary: #1c3374;
$lightgrey: #003eb7;
$secondary-2: #1a3578;
$secondary-3: #73184b;
$secondary-4: #b4022a;
$bk-color-1: #787878;
$divider: #74819c;
$tab-border: rgba(16, 38, 84, 0.2);
$error: #ff121f;
$bt-abbonement: rgba(255, 255, 255, 0.8);
$play-button: rgba(237, 2, 51, 0.2);
$border-play: rgba(200, 201, 204, 1);
$border-play-color: rgba(16, 38, 84, 1);
$box-show: rgba(42, 59, 99, 0.17);
$deco-hover: rgba(16, 38, 84, 0.89);

// fon
$accent-bg: #ed0233;
$primary-bg: #f8f9fc;
$dark: #030a1a;
$secondary-hover: rgba(28, 51, 116, 0.5);
$black: #000000;
$fon-img: #000048;

// Шрифты
$alumni: "Alumni Sans", sans-serif;

// Градиенты
$main-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$nubmer-grad: linear-gradient(138deg, #d10a42 0%, #0041ca 40%);
$border-grad: linear-gradient(129deg, #d10a42 0%, #00359f 100%);
$button-grad: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$background-drag: linear-gradient(151deg, rgba(237, 2, 51, 0.8) 0%, rgba(0, 62, 183, 0.8) 100%);
