.free {
  background-color: $base-black;
  padding: 70px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
    flex: auto;
  }
}

.free__title {
  color: $base-white;
  margin-bottom: 36px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.free__group {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.free__form {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 205px 205px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 223px 224px;
  }
}

.free__input {
  font-weight: 300;
  color: $base-white;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid $divider;
  width: 100%;
  height: 27px;
  text-align: start;
  background-color: $base-black;
  outline: 0;

  &:disabled {
    opacity: 0.4;
  }

  &::placeholder {
    opacity: 0.4;
    color: $base-white;
  }

  &:focus {
    outline: 1px solid $base-white;
  }

  &:hover {
    border-color: $base-white;
  }

  &:active {
    opacity: 0.7;
    background-color: $base-white;
  }
}

.free__button {
  width: 100%;
  padding: 22px 0;
  background-color: transparent;
  border: 2px solid $base-white;
  color: $base-white;
  text-transform: uppercase;
  font-size: 12px;
  height: 60px;
  font-weight: 700;

  &:hover {
    background-color: $base-white;
    color: $base-grey;
  }

  &:focus-visible {
    outline: 0;
    background: $bt-abbonement;
    color: $base-grey;
    border: 2px solid $black;
  }

  &:active {
    background-color: $base-white;
    color: $base-black;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    height: 66px;
    padding: 26px 0;
  }
}

.free__error {
  color: $error;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: -28px;
}
