.content {
  padding: 48px 0 32px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 0 0 100px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 120px;
    column-gap: 56px;
  }
}

.content__inner {
  display: grid;
  grid-template-columns: 134px 156px;
  align-self: center;
  min-width: 290px;
  min-height: 278px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 139px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 115px 270px;
    row-gap: 40px;
    margin-left: 147px;
  }
}

.content__header {
  display: block;
  font-family: "Alumni Sans", sans-serif;
  grid-column: 2 / 3;
  font-weight: 800;
  letter-spacing: 0.01em;
  font-size: 62px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
  text-align: end;
  margin-top: 14px;
  margin-bottom: 48px;
  order: 4;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.02em;
    margin: 10px 0 50px;
  }

  @media (min-width: $desktop-width) {
    line-height: 120%;
    font-size: 92px;
    letter-spacing: 0.04em;
    margin: 0;
  }
}

.content__subtitle {
  grid-column: 2 / 3;
  text-align: end;
  color: $base-white;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  font-family: $alumni;

  @media (min-width: $tablet-width) {
    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
  }
}

.content__text {
  font-weight: 400;
  line-height: 143%;
  text-align: right;
  align-self: center;
  margin-top: 32px;
  margin-right: 21px;
  min-width: 113px;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
    margin-top: 16px;
    line-height: 157%;
  }

  @media (min-width: $desktop-width) {
    line-height: 157%;
    margin-right: 0;
    margin-top: 14px;
  }
}

.content__button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 22px 0;
  border: 2px solid $base-white;
  grid-column: 1 / 3;
  background-color: transparent;
  color: $base-white;
  order: 4;
  height: 60px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding: 20px 0;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 56px;
    grid-column: 2 / 3;
    height: 66px;
  }

  &:hover:not(:focus-visible) {
    background-color: $base-white;
    color: $base-grey;
  }

  &:focus,
  &:focus-visible {
    outline: 0;
    background: $bt-abbonement;
    color: $base-grey;
    border: 2px solid $black;
  }

  &:focus:not(:focus-visible) {
    background: transparent;
    color: $base-white;
    border: 2px solid $base-white;
  }

  &:active:not(:focus-visible) {
    background-color: $base-white;
    color: $base-black;
  }
}

.content__img {
  display: block;
  background-color: $secondary-2;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
