.price {
  background: $primary-bg;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      background-image: url("../../../img/decor-tablet.png");
      background-repeat: no-repeat;
      width: 354px;
      height: 321px;
      right: 0;
      bottom: 0;
      position: absolute;
      background-position: -104% 65%;

      @media (min-width: $desktop-width) {
        background-image: url("../../../img/decor-desktop.png");
        width: 409px;
        height: 459px;
        right: 0;
        bottom: 0;
        background-position: -220% -38%;
      }
    }
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.price__title {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}
