.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.tabs__controls {
  display: flex;
  column-gap: 46px;
  position: relative;
  margin-bottom: 30px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    column-gap: 43px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 51px;
    margin-bottom: 40px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    display: block;
    width: 100%;
    height: 2px;
    background-color: $bk-color-1;
    opacity: 20%;
  }
}

.tabs__control {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0 0 6px;
  color: rgba(16, 38, 84, 0.5);
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 0 6px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding: 0 0 8px;
  }

  &--active {
    color: $base-black;
    border-bottom: 2px solid $primaryopacity;
    padding: 0 0 4px;

    @media (min-width: $desktop-width) {
      padding: 0 0 6px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);
    border-bottom: 2px solid $bk-color-1;
    padding: 0 0 4px;

    @media (min-width: $desktop-width) {
      padding: 0 0 6px;
    }
  }

  &:focus-visible {
    background-color: none;
    color: $base-black;
    outline: none;
    border-bottom: 2px solid $base-black;
  }
}

.tabs__list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 40px;
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 43px 35px;
  background-color: $base-white;
  align-items: center;
  position: relative;
  border: 7px solid transparent;

  @media (min-width: $tablet-width) {
    padding: 58px;
    row-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 17px;
    width: 360px;
  }

  &:has(.button:focus-visible) {
    border-image: linear-gradient(to left top, #00359f, #d10a42);
    border-image-slice: 1;
  }

  &:has(.button:hover) {
    border-image: linear-gradient(to left top, #00359f, #d10a42);
    border-image-slice: 1;
  }
}

.tabs__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 100%;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }
}

.tabs__desc {
  margin: 0;
  font-weight: 300;
  line-height: 157%;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
  }
}

.tabs__description {
  display: flex;
  margin: 0;
  line-height: 150%;
  color: $base-grey;
  font-weight: 700;
  font-size: 48px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.tabs__price-bg {
  font-weight: 700;
  font-size: 80px;
  line-height: 150%;
  color: $price-shadow;
  opacity: 0.48;

  @media (min-width: $tablet-width) {
    font-size: 100px;
  }
}

.tabs__price {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, 53%);
  gap: 10px;

  @media (min-width: $tablet-width) {
    bottom: 44%;
    gap: 14px;
  }
}

.tabs__svg {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }
}

.tabs__button {
  border: 2px solid $base-black;
  padding: 25px 42px;
  width: 206px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }

  &:hover {
    background: $button-grad;
    color: $base-white;
    border: 0;
  }

  &:focus-visible {
    outline: 0;
    background: $background-drag;
    color: $base-white;
    border: 2px solid $black;
  }

  &:active {
    color: $base-white-bt;
    border-image: $button-grad;
    border-image-slice: 1;
  }
}
